// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #f4f5f7;

body.main-area {
    background-color: $background;
}

.theme-picker {
    label {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

#create-board-btn {
    background: rgba(9,30,66,.04);
    color: black;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: #172b4d;
    margin: 40px 0 30px 0;
}

.board-item {
    height: 96px;
    width: 187px;
    margin: 0 16px 8px 0;
    background: $background;
    border-radius: 3px;
    padding: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}


.modal-dialog {
    .main-area & {
        width:300px;
    }
    
}
.modal-content.create-board {
    width: 300px;
    padding: 8px;
    input[type=text] {
        width: 100%;
        border-radius: 3px;
        border: none;
        background: rgba(#e3e3e3, 0.3);
    }
}

.actions {
    margin-top: 8px;
    input {
        background-color: #0079bf;
    }
}

#steps-container {
    display: flex;
}

#boards-container {
    a:hover {
        text-decoration: none;
    }
}