// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task_title {
    width: 100%;
    border: none;
    font-size: 14px;
}

.task-item {
    padding: 8px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    margin-bottom: 8px;
    min-height: 25px;

    &--title {
        padding: 6px 8px 2px;
        line-height: 20px;
        font-weight: 400;
        font-size: 14px;
        color: #172b4d;
    }

    .task-actions {
        position: absolute;
        top: -5px;
        right: -5px;
    }
}